<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <nav>
      <h1><a href="/calendar">Calendar</a></h1>
      <ul>
        <% if (user) { %>
        <li>
          Welcome,
          <span id="user"> <%= user.email%> </span>
        </li>
        <li><a href="/calendar">My Calendar</a></li>
        <li><a href="/logout">Log out</a></li>
        <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        <% } %>
      </ul>
    </nav>

    <div class="create-blog content">
      <form class="sform" action="/createSmoothie">
        <label for="title">Event Name:</label>
        <input type="text" id="title" name="Ename" required value="<%=url.includes('edit') ? body?.Ename : "" %>"/>
        <label for="snippet">Event location:</label>
        <input type="text" id="snippet" name="Eloc" required value="<%=url.includes('edit') ? body?.Eloc : "" %>"/>
        <div style="display: flex;">
        <label for="All day">All day</label>
        <input type="radio" id="allday" name="chooseEvent" value="All day"
        onclick="show(1)" style="width: 20px; margin: 22px 0px 0px 69px;">
        </div >
        <div style="display: flex;">
        <label for="partofday">Part of day</label>
        <input type="radio" id="partofday" name="chooseEvent" value="Part of day" onclick="show(0)" style="width: 20px; margin: 25px 0px 0px 40px;"></div>
          <p id="getsTime" style="display: none;"><%=url.includes('edit') ? body?.sTime : "" %></p>
          <p id="geteTime" style="display: none;"><%=url.includes('edit') ? body?.eTime : "" %></p>
          <p id="checkallday" style="display: none;"><%=url.includes('edit') ? body?.isallday : "" %></p>



        <div class="sTime" style="display: none;">
        <label for="sTime">Start Time:</label>
        <select id="title" class="sTime" name="sTime">
          <option value="9:00am">9:00am</option>
          <option value="9:30am">9:30am</option>
          <option value="10:00am">10:00am</option>
          <option value="10:30am">10:30am</option>
          <option value="11:00am">11:00am</option>
          <option value=11:30am">11:30am</option>
          <option value="12:00pm">12:00pm</option>
          <option value="1:00pm">1:00pm</option>
          <option value="1:30pm">1:30pm</option>
          <option value="2:00pm">2:00pm</option>
          <option value="2:30pm">2:30pm</option>
          <option value="3:00pm">3:00pm</option>
          <option value="3:30pm">3:30pm</option>
          <option value="4:00pm">4:00pm</option>
          <option value="4:30pm">4:30pm</option>
          <option value="5:00pm">5:00pm</option>
          <option value="5:30pm">5:30pm</option>
          <option value="6:00pm">6:00pm</option>
          <option value="7:00pm">7:00pm</option>
          <option value="7:30pm">7:30pm</option>
          
        </select>
        </div>
        <!-- <input type="text" id="title" name="sTime" required /> -->
        <div class="eTime" style="display: none;">
        <label for="eTime">End Time:</label>
        <select id="title" class="eTime" name="eTime">
          <option value="9:30am">9:30am</option>
          <option value="10:00am">10:00am</option>
          <option value="10:30am">10:30am</option>
          <option value="11:00am">11:00am</option>
          <option value=11:30am">11:30am</option>
          <option value="12:00pm">12:00pm</option>
          <option value="1:00pm">1:00pm</option>
          <option value="1:30pm">1:30pm</option>
          <option value="2:00pm">2:00pm</option>
          <option value="2:30pm">2:30pm</option>
          <option value="3:00pm">3:00pm</option>
          <option value="3:30pm">3:30pm</option>
          <option value="4:00pm">4:00pm</option>
          <option value="4:30pm">4:30pm</option>
          <option value="5:00pm">5:00pm</option>
          <option value="5:30pm">5:30pm</option>
          <option value="6:00pm">6:00pm</option>
          <option value="7:00pm">7:00pm</option>
          <option value="7:30pm">7:30pm</option>
          <option value="8:00pm">8:00pm</option>
          
        </select>
        </div>
        <!-- <input type="text" id="snippet" name="eTime" required"/> -->
        <label id="requiredUrl"><%=url%></label>

        <% if(url.includes("edit")) { %>
        <button>Update</button>
        <button class="deletee">Delete</button>
        <% } else { %>

        <button>Add</button> <%}%>
      </form>
    </div>

    <footer>Copyright &copy; Blog Ninja 2020</footer>

    <script>
      const getsTime = document.querySelector("#getsTime").textContent;
      const geteTime = document.querySelector("#geteTime").textContent;
      let checkallday = document.querySelector("#checkallday").textContent;
      const form = document.querySelector("form");
      const user = document.getElementById("user");
      const requiredUrl = document.getElementById("requiredUrl");
      const btn = document.querySelector("button");
      const delete_btn = document.querySelector(".deletee");
      const edit_body = document.querySelector("#edit_body");
      
      let allsTimes = document.querySelectorAll(".stime option");
      allsTimes.forEach((e)=> e.textContent==getsTime ? e.selected ="true" : "")
      let alleTimes = document.querySelectorAll(".etime option");
      alleTimes.forEach((e)=> e.textContent==geteTime ? e.selected ="true" : "")
      checkallday=="false" ? document.querySelector("#partofday").checked= "checked" : document.querySelector("#allday").checked= "checked"

      checkallday=="false" ? document.querySelector(".sTime").style.display = "flex" : ""
      checkallday=="false" ? document.querySelector(".eTime").style.display = "flex" : ""

      
    

function show(x){
  if(x==0){
  document.querySelector(".sTime").style.display = "flex";
  document.querySelector(".eTime").style.display = "flex";
  isallday = false;}
  else{
      document.querySelector(".sTime").style.display = "none";
  document.querySelector(".eTime").style.display = "none";
isallday = true;}
  
  }
  isallday = checkallday;
if(delete_btn){
      delete_btn.addEventListener("click", (e) => {
        console.log("delete rqst sent")
        e.preventDefault();
        fetch(requiredUrl.textContent, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => {window.location.href = "/calendar" })
          .catch((err) => console.log(err));
      });
    }
      if (btn.textContent == "Add") {
        form.addEventListener("submit", async (e) => {
          e.preventDefault();
          // get values
          const Ename = form.Ename.value;
          const Eloc = form.Eloc.value;
          const sTime = form.sTime.value;
          const eTime = form.eTime.value;
          const createdBy = user.textContent;
        

           try {
             const res = await fetch("/createEvent", {
               method: "POST",
               body: JSON.stringify({
                 Ename,
                 Eloc,
                 sTime,
                 eTime,
                 createdBy,
                 isallday,
               }),
              headers: { "Content-Type": "application/json" },
            });
             const data = await res.json();

             location.assign("/calendar");
           } catch (err) {
           console.log(err);
           }
        });
      }
      if (btn.textContent == "Update") {
        console.log(isallday)
        form.addEventListener("submit", async (e) => {
          e.preventDefault();
          // get values
           const Ename = form.Ename.value;
          const Eloc = form.Eloc.value;
          const sTime = form.sTime.value;
          const eTime = form.eTime.value;
          const createdBy = user.textContent;
          console.log("updating")
    

           try {
            
             const res = await fetch(requiredUrl.textContent, {
               method: "PUT",
               body: JSON.stringify({
                 Ename,
                 Eloc,
                 sTime,
                 eTime,
                 createdBy,
                 isallday,
               }),
              headers: { "Content-Type": "application/json" },
            });
             const data = await res.json();

             location.assign("/calendar");
           } catch (err) {
           console.log(err);
           }
        });
      }
    </script>
  </body>
</html>
